In [36]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import math
from sklearn.model_selection import train_test_split, TimeSeriesSplit, GridSearchCV

In [18]:
dataset = pd.read_csv('data/all_exchanges_data_cleaned.csv')

In [19]:
dataset.info

<bound method DataFrame.info of              Date          Open          High           Low         Close  \
0      2000-10-10  10569.169922  10623.549805  10488.889648  10524.400391
1      2000-10-10   1036.500000   1036.500000   1036.500000   1036.500000
2      2000-10-10  15739.389648  15739.389648  15434.740234  15554.110352
3      2000-10-11  10521.070313  10566.580078  10350.889648  10413.790039
4      2000-10-11   1009.489990   1009.489990   1009.489990   1009.489990
...           ...           ...           ...           ...           ...
19953  2020-10-07  27971.359375  28369.660156  27971.359375  28303.460938
19954  2020-10-07    979.710022    983.119995    974.849976    978.059998
19955  2020-10-07  23999.789063  24243.910156  23905.419922  24242.859375
19956  2020-10-07  23272.449219  23432.730469  23272.449219  23422.820313
19957  2020-10-08  23272.449219  23701.769531  23477.730469  23647.070313

          Adj Close        Volume  Percent Change                 Index
0      10524.400391  2.120700e+08       -0.416612  Dow Jones Industrial
1       1036.500000  0.000000e+00        0.408801           Euronext100
2      15554.110352  0.000000e+00       -0.888200             Hang Seng
3      10413.790039  3.245200e+08       -1.050990  Dow Jones Industrial
4       1009.489990  0.000000e+00       -2.605886           Euronext100
...             ...           ...             ...                   ...
19953  28303.460938  3.287500e+08        1.910869  Dow Jones Industrial
19954    978.059998  2.322297e+08       -0.104181           Euronext100
19955  24242.859375  1.537076e+09        1.093419             Hang Seng
19956  23422.820313  5.210000e+04       -0.046557            Nikkei 225
19957  23647.070313  0.000000e+00        0.957400            Nikkei 225

[19958 rows x 9 columns]>

In [20]:
dataset.describe()

,Open,High,Low,Close,Adj Close,Volume,Percent Change
count,19958.000000,19958.000000,19958.000000,19958.000000,19958.000000,1.995800e+04,19958.000000
mean,12359.002648,12432.552746,12275.562052,12356.404874,12356.404874,4.463857e+08,0.018235
std,8513.927306,8558.398208,8460.504323,8510.861717,8510.861717,7.229008e+08,1.368694
min,427.600006,436.519989,419.489990,419.950012,419.950012,0.000000e+00,-12.926546
25%,1085.022461,1090.065003,1081.955017,1086.654968,1086.654968,1.347000e+05,-0.597822
50%,11933.995117,12011.040039,11834.734863,11932.549805,11932.549805,2.048604e+08,0.049819
75%,19283.262696,19401.442383,19161.534668,19287.947266,19287.947266,3.603706e+08,0.665370
max,33335.480469,33484.078125,32897.039063,33154.121094,33154.121094,9.799120e+09,14.347069

In [21]:
DJI = dataset.loc[dataset['Index'] == 'Dow Jones Industrial']
N100 = dataset.loc[dataset['Index'] == 'Euronext100']
HSI = dataset.loc[dataset['Index'] == 'Hang Seng']
N225 = dataset.loc[dataset['Index'] == 'Nikkei 225']

In [22]:
DJI = DJI.reset_index(drop=True)
HSI = HSI.reset_index(drop=True)
N100 = N100.reset_index(drop=True)
N225 = N225.reset_index(drop=True)

In [23]:
DJI.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Percent Change', 'Index'],
      dtype='object')

In [24]:
### Times in Greenwich Mean Time

###Both day ahead
### Japan Exchange Group / N225    12am to 6am
### Hong Kong / Hang Seng =        1:30am to 8am

###Both lag day behind locally
### EuroNext / N100 =              8am to 4:30pm
### NYSE / DJI =                   2:30pm to 9pm

###Observations
### Jap and Hong Kong close before EuroNext opens SAME DAY
### Hong Kong closes RIGHT as Euronext Opens SAME DAY
###New York and EuroNext close before Jap and Hong Kong open THE DAY BEFORE
###NYSE is mid-dayish when EURO closes

###For test case leave out NYSE in test train split and begin running models on that

In [37]:
tscv = TimeSeriesSplit(n_splits=5, test_size=0.20)

In [38]:
y = DJI['Percent Change']

In [39]:
X = dataset.loc[dataset['Index'] != 'Dow Jones Industrial']

In [40]:
pd.Series.shift 

##set import above

In [41]:
X2 = N100

In [42]:
type(y)

pandas.core.series.Series

In [43]:
type(X)

pandas.core.frame.DataFrame

In [44]:
print(tscv)

TimeSeriesSplit(max_train_size=None, n_splits=5)

In [48]:
X_train, X_test, y_train, y_test = tscv(X)

TypeError: 'TimeSeriesSplit' object is not callable

In [35]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

NameError: name 'X_train' is not defined