### Imports

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os
import sqlite3

Create a sql connection from which to read tables

In [32]:
con = sqlite3.connect("data/database.sqlite")
cursor = con.cursor()

#### CURSOR IS POTENTIALLY REDUNDANT

### Prelimanary Analysis

Read Tables

In [33]:
tables = pd.read_sql("SELECT * FROM sqlite_master WHERE type='table'", con)
print(tables)

    type               name           tbl_name  rootpage  \
0  table    sqlite_sequence    sqlite_sequence         4
1  table  Player_Attributes  Player_Attributes        11
2  table             Player             Player        14
3  table              Match              Match        18
4  table             League             League        24
5  table            Country            Country        26
6  table               Team               Team        29
7  table    Team_Attributes    Team_Attributes         2

                                                 sql
0             CREATE TABLE sqlite_sequence(name,seq)
1  CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2  CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3  CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4  CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5  CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
7  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

Print all tables in a for loop:

In [34]:
for table_name in tables['name']:
    print(table_name.upper(), pd.read_sql_query("SELECT COUNT(*) FROM %s" % table_name, con), "\n", pd.read_sql_query("SELECT * from %s LIMIT 5" % table_name, con), "\n\n\n")

SQLITE_SEQUENCE    COUNT(*)
0         7
       name     seq
0     Team  103916
1  Country   51958
2   League   51958
3    Match   51958
4   Player   11075



PLAYER_ATTRIBUTES    COUNT(*)
0    183978
    id  player_fifa_api_id  player_api_id                 date  overall_rating  \
0   1              218353         505942  2016-02-18 00:00:00              67
1   2              218353         505942  2015-11-19 00:00:00              67
2   3              218353         505942  2015-09-21 00:00:00              62
3   4              218353         505942  2015-03-20 00:00:00              61
4   5              218353         505942  2007-02-22 00:00:00              61

   potential preferred_foot attacking_work_rate defensive_work_rate  crossing  \
0         71          right              medium              medium        49
1         71          right              medium              medium        49
2         66          right              medium              medium        49
3         65          right              medium              medium        48
4         65          right              medium              medium        48

   ...  vision  penalties  marking  standing_tackle  sliding_tackle  \
0  ...      54         48       65               69              69
1  ...      54         48       65               69              69
2  ...      54         48       65               66              69
3  ...      53         47       62               63              66
4  ...      53         47       62               63              66

   gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
0          6           11          10               8            8
1          6           11          10               8            8
2          6           11          10               8            8
3          5           10           9               7            7
4          5           10           9               7            7

[5 rows x 42 columns]



PLAYER    COUNT(*)
0     11060
    id  player_api_id         player_name  player_fifa_api_id  \
0   1         505942  Aaron Appindangoye              218353
1   2         155782     Aaron Cresswell              189615
2   3         162549         Aaron Doran              186170
3   4          30572       Aaron Galindo              140161
4   5          23780        Aaron Hughes               17725

              birthday  height  weight
0  1992-02-29 00:00:00  182.88     187
1  1989-12-15 00:00:00  170.18     146
2  1991-05-13 00:00:00  170.18     163
3  1982-05-08 00:00:00  182.88     198
4  1979-11-08 00:00:00  182.88     154



MATCH    COUNT(*)
0     25979
    id  country_id  league_id     season  stage                 date  \
0   1           1          1  2008/2009      1  2008-08-17 00:00:00
1   2           1          1  2008/2009      1  2008-08-16 00:00:00
2   3           1          1  2008/2009      1  2008-08-16 00:00:00
3   4           1          1  2008/2009      1  2008-08-17 00:00:00
4   5           1          1  2008/2009      1  2008-08-16 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0        492473              9987              9993               1  ...
1        492474             10000              9994               0  ...
2        492475              9984              8635               0  ...
3        492476              9991              9998               5  ...
4        492477              7947              9985               1  ...

    SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
0  4.00  1.65  3.40  4.50  1.78  3.25  4.00  1.73  3.40  4.20
1  3.80  2.00  3.25  3.25  1.85  3.25  3.75  1.91  3.25  3.60
2  2.50  2.35  3.25  2.65  2.50  3.20  2.50  2.30  3.20  2.75
3  7.50  1.45  3.75  6.50  1.50  3.75  5.50  1.44  3.75  6.50
4  1.73  4.50  3.40  1.65  4.50  3.50  1.65  4.75  3.30  1.67

[5 rows x 115 columns]



LEAGUE    COUNT(*)
0        11
       id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A



COUNTRY    COUNT(*)
0        11
       id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy



TEAM    COUNT(*)
0       299
    id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987               673           KRC Genk             GEN
1   2         9993               675       Beerschot AC             BAC
2   3        10000             15005   SV Zulte-Waregem             ZUL
3   4         9994              2007   Sporting Lokeren             LOK
4   5         9984              1750  KSV Cercle Brugge             CEB



TEAM_ATTRIBUTES    COUNT(*)
0      1458
    id  team_fifa_api_id  team_api_id                 date  buildUpPlaySpeed  \
0   1               434         9930  2010-02-22 00:00:00                60
1   2               434         9930  2014-09-19 00:00:00                52
2   3               434         9930  2015-09-10 00:00:00                47
3   4                77         8485  2010-02-22 00:00:00                70
4   5                77         8485  2011-02-22 00:00:00                47

  buildUpPlaySpeedClass  buildUpPlayDribbling buildUpPlayDribblingClass  \
0              Balanced                   NaN                    Little
1              Balanced                  48.0                    Normal
2              Balanced                  41.0                    Normal
3                  Fast                   NaN                    Little
4              Balanced                   NaN                    Little

   buildUpPlayPassing buildUpPlayPassingClass  ... chanceCreationShooting  \
0                  50                   Mixed  ...                     55
1                  56                   Mixed  ...                     64
2                  54                   Mixed  ...                     64
3                  70                    Long  ...                     70
4                  52                   Mixed  ...                     52

   chanceCreationShootingClass chanceCreationPositioningClass  \
0                       Normal                      Organised
1                       Normal                      Organised
2                       Normal                      Organised
3                         Lots                      Organised
4                       Normal                      Organised

   defencePressure defencePressureClass  defenceAggression  \
0               50               Medium                 55
1               47               Medium                 44
2               47               Medium                 44
3               60               Medium                 70
4               47               Medium                 47

  defenceAggressionClass defenceTeamWidth  defenceTeamWidthClass  \
0                  Press               45                 Normal
1                  Press               54                 Normal
2                  Press               54                 Normal
3                 Double               70                   Wide
4                  Press               52                 Normal

  defenceDefenderLineClass
0                    Cover
1                    Cover
2                    Cover
3                    Cover
4                    Cover

[5 rows x 25 columns]

# OBJECTIVES

Average Number of Goals scored each team
Average Number of goals conceded each team
^^^ Same as above but home vs away advantage
^^^ Same as above but for overall league team is in (which league more competitive?)
Average Stats of players in team
Min-Max player stats per team (everyone is average? Few excellent players and few bad players same team?

Count most used shapes
Average goals scored and conceded per shape

Assign shape to team and see if stats match up of shape vs team performance using shape.

Impactful substitutions and/or starters? (harry winks starts, game is gone)

Dump all the tables into separate csv files to make life easier

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table_name in tables:
    table_name = table_name[0]
    table = pd.read_sql_query("SELECT * from %s" % table_name, con)
    table.to_csv('data/' + table_name + '.csv', index_label='index')
cursor.close()
con.close()

In [8]:
print(tables)

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

Import all newly created csv files/tables

In [16]:
### We created the variable "tables" 
### from where the csv naming convention for the dump came from
### So it can be looped to import all the tables
for table_name in tables:
    print(str(table_name[0]) + '.csv')

sqlite_sequence.csv
Player_Attributes.csv
Player.csv
Match.csv
League.csv
Country.csv
Team.csv
Team_Attributes.csv