Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os
import sqlite3

Create a sql connection from which to read tables

In [3]:
con = sqlite3.connect("data/database.sqlite")

In [4]:
cursor = con.cursor()

In [6]:
tables = pd.read_sql("""SELECT * FROM sqlite_master WHERE type='table'""", con)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

Dump all the tables into separate csv files to make life easier

In [7]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for table_name in tables:
    table_name = table_name[0]
    table = pd.read_sql_query("SELECT * from %s" % table_name, con)
    table.to_csv('data/' + table_name + '.csv', index_label='index')
cursor.close()
con.close()

In [8]:
print(tables)

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

Import all newly created csv files/tables

In [16]:
### We created the variable "tables" 
### from where the csv naming convention for the dump came from
### So it can be looped to import all the tables
for table_name in tables:
    print(str(table_name[0]) + '.csv')

sqlite_sequence.csv
Player_Attributes.csv
Player.csv
Match.csv
League.csv
Country.csv
Team.csv
Team_Attributes.csv